* {
  margin-bottom: 0;
  padding: 0;
}

#mobi-nav-container {
  position: absolute;
  top: 70px;
  right: 0;
  background: $main_purple;
  text-align: right;
  z-index: 999;
  transform: translateX(100%);
  transition: 0.5s ease-in;
}

.show-nav {
  transform: translateX(0%) !important;
}

.main-logo {
  float: left;

  img {
    width: 250px;
    height: auto;
    vertical-align: middle;
  }
}

.menu-nav {
  display: none;
}

.hide {
  display: none;
}

.active {
  transform: translateX(0%);
}

form.search-form .form-control {
  border: none !important;
}

form.search-form {
  width: $site_width;
  float: left;
  margin-top: 13px;

  input {
    width: 260px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 20px;
  font-size: 14px;
  line-height: 1.5;
  color: $text_light_grey;
  background-color: $white;
  background-image: none;
  border: 1px solid;
  border-radius: 4px;
  transition: box-shadow ease-in-out .15s;

  &:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.85), 0 0 8px rgba(139,23,155,.7);
  }
}

form.search-form button{
  width:40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: $main_green url("https://www.lepuschitz-promotion.at/fileadmin/site/img/icon-search.png") 50% 50% no-repeat;
  text-indent: -9999em;
  float:left;
  margin-right:20px;
}
