h1 {
  font-weight: 600;
  font-size: 20px;

  .bold {
    color: $main_green;
  }
}

#selectCatalog {
  box-sizing: border-box;
  //width: 190px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: $main_grey;
  border: 1px solid #b5b5b5;
  border-radius: 0;
  box-shadow: none;
  margin: 20px 0;
}

#catAnda {

  .andaFilesOrLinks, .andaFiles, .andaLinks {

  }

}

#progressBar {
  background: white;
  border-radius: 10px;
  height: 25px;
  position: relative;
  margin: 20px 0;

  .done {
    height: 100%;
    width: 46%;
    background: $main_green;
    border-radius: 25px;
  }

  .procent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $text_grey;
    padding: 0;
    line-height: normal;
  }
}